<h1> New User </h1>

<form action="/create_user">
  <input type="text" name="name" placeholder="John Smith">
  <input type="text" name="email" placeholder="john_smith@example.com">
  <input type="submit">
</form>